body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.paper {
  color: rgb(72, 221, 13);
  height: 100%;
}

@media (min-width: 1200px) {
  .paper {
    height: 100vh;
  }
}

@media (max-width: 800px) {
  .MuiGrid-container {
    justify-content: center;
  }

  .MuiTypography-root,
  .MuiTypography-h6,
  .css-1juivf6-MuiTypography-root {
    font-size: 1rem;
  }

  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    font-size: 0.675rem;
  }
}

@media (max-width: 1000px) {
  .MuiGrid-container {
    justify-content: center;
  }
}
